body {
    font-family: DFKai-sb;
    font-size: 20px;
}

h1{
    color: red;
}
p{
    max-width:  350px;
}
.gameBox {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    max-width: 600px;
    align-items: center;
    justify-content: center;
}

.cardBox {
    /* border: 1px solid red; */
    width: 78px;
    height: 98px;
    margin: 5px;
}

.cardBox img {
    max-width: 100%;
    height: auto;
}